html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

p, a, input, form, h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}

.container	{
	width: 1171px;
	margin: 0 auto;
}

.header	{
	background: rgb(77,190,254);
	background: -moz-linear-gradient(-45deg, rgba(77,190,254,1) 0%, rgba(55,143,217,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(77,190,254,1) 0%,rgba(55,143,217,1) 100%);
	background: linear-gradient(135deg, rgba(77,190,254,1) 0%,rgba(55,143,217,1) 100%);
	padding-top: 62px;
	color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.wrap {
	width: 570px;
}


.title	{
	margin-top: 140px;
	margin-bottom: 40px;
	font-size: 37px;
	line-height: 1.37em;
	letter-spacing: 0.03em;
}

.title span {
	font-size: 59px;
	line-height: 1.25em;
}

p {
	line-height: 1.7em;
}

.intro {
	font-weight: 400;
	width: 410px;
	font-size: 16px;
	padding-bottom: 43px;

}

.btn {
	display: block;
	width: 222px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-decoration: none;
	color: #000;
	background-color: #ffd429;
	padding: 20px 0;
	text-align: center;
}

.btn:hover {
	background-color: #cea810;
	transition: all .5s ease;
}

img.travel-stuff {
	margin-top: 57px;
	margin-bottom: 144px;
}
/*конец хедера*/

/*секция*/

.future {
	padding-top: 105px;
	padding-bottom: 120px;
	text-align: center;
}

.adv-time {
	background-image: url(../img/time-machine.jpg); 
	width: 290px;
}
.adv-travel {
	background-image: url(../img/beach.jpg); 
	width: 270px;
}
.adv-importance {
	background-image: url(../img/rocket.jpg);
	width: 300px; 
}

.advantage {
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 85px;
}

.section-title {
	font-size: 30px;
}

.advantage-title {
	font-size: 19px;
	padding-top: 95px;
	padding-bottom: 15px;
}

p.advantage-text {
	font-family: 'Ubuntu', sans-serif; 
	font-weight: 400; 
}

/*вторая секция*/

.user-form {
	background-color: #ecf3f8;
	padding: 100px 0;
	text-align: center;
}


.form-wrapper {
	padding-top: 55px;
	margin: 0 auto;
}

.form-wrapper input {
	display: block;
	margin: 0 auto 15px;
	width: 343px;
	height: 48px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
}

input::placeholder {
	font-family: 'Ubuntu', sans-serif;
	padding-left: 22px;
}

.b-form {
	border: none;
	margin: inherit;
	width: 343px;
	height: 56px;
}

/*футер*/

.footer {
	font-size: 14px;
	padding: 62px 0;
	background-color: #164d7a;
	color: #fff;
	text-align: center;
}

.copy {

}
